@import url(//db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.basicpage {
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}