.bg-gray {
  height: 1080px;
  background: linear-gradient(to right top, #26292c, #2e3032, #363739, #3e3e3f, #464646);
}

.img-mobile {
  background: url('/content/dam/vue/Logo-Compasso.png');
}
.container-center {
  display: grid;
  justify-content: center;
}
.img-logo-hidden {
  display: none;
}

@media(max-width: 960px) {
  .container-right {
  display: none;
  }
  .hidden-text {
  display: none;
  }
  .img-mobile-logo {
    text-align: center;
    margin-top: 60px;
  }
  .img-logo-hidden {
    display: initial;
  }
}

.container-right-home {
  margin-top: 5%;
}