.nav {
  display: flex;
  justify-content: space-between;
}
img {
  width: 150px;
  height: 50px;
  margin: 20px;
}
h1 {
  font-family: 'Mark Pro';
  font-size: 144px;
  line-height: 95px;
  margin: 10% 0 0 0;
}
p {
  text-align: center;
  font-family: 'Mark Pro';
  line-height: 40px;
  margin: 0;
}

@media(max-width: 960px) {
  .timer {
    display: none;
  }
}